doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/#{fingerprint['index.css']}")
    meta(name="keywords" content="skateboard, skateboarding, video, street")
    meta(name="description" content=meta_description)
  body!=contents
