---
title: H941000
---
extends layout

block content
  h1 H941000 /&nbsp;
    a(href='/H941000/rss.xml') rss
  each post in pagination.files
    article.content-article
      header
        a(href=post.path)
          span.timestamp= post.date
        h2
          article!= post.contents
        p= post.snippet

  .pagination
    if pagination.previous
      a.btn(href='/' + paginate.previous.path)
        | Newer
    if pagination.next
      a.btn(href='/' + paginate.next.path)
        | Older
