doctype html
html
  head
    title #{mainTitle} | #{title}
    link(rel="stylesheet" href="/#{fingerprint['index.css']}")
    meta(name="keywords" content="skateboard, skateboarding, videos, street")
    meta(name="description" content="Official dealer of the best skatevideos around")
  body
    h1 
      a(href='/') H941000
      | &nbsp;/&nbsp;
      a(href='/H941000/rss.xml') rss
    each post in pagination.files
      !=post.contents_without_layout

    .pagination
      if pagination.previous
        a.btn(href='/' + pagination.previous.path)
          | Newer
      if pagination.next
        a.btn(href='/' + pagination.next.path)
          | Older
