doctype html
html
  head
    if pagination.num == 1
      title #{title}
    else
      title #{title} | Page #{pagination.num}
    link(rel="stylesheet" href="/#{fingerprint['index.css']}")
    meta(name="keywords" content="skateboard, skateboarding, videos, street")
    meta(name="description" content="Official dealer of the best skatevideos around")
  body
    h1
      a(href='/') 321157
    nav
      a(href='/') likes
      | &nbsp;/&nbsp;
      a(target="_blank" href='https://www.instagram.com/321157skateboarding') insta
      | &nbsp;/&nbsp;
      a(href='/likes/rss.xml') rss
    each post in pagination.files
      !=post.contents_without_layout

    .pagination
      if pagination.previous
        a.btn(href='/' + pagination.previous.path)
          | Newer
      if pagination.next
        a.btn(href='/' + pagination.next.path)
          | Older
